$govuk-assets-path: "/income-through-software/return/personal-income/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/income-through-software/return/personal-income/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "timeout-dialog";
@import "autocomplete";

a.govuk-link.hmrc-sign-out-nav__link:active {
  color: black;
}

a.govuk-link.hmrc-sign-out-nav__link:focus {
  color: black;
}

.hmrc-language-select {
  @include govuk-media-query($from: desktop) {
    float: right;
  }
 }